@import "./prism";

body {
  background-color: #F7F7F7;
}

.container {
  max-width: 980px;
}

.header {
  background-color: #222;
  padding: 10px 20px 100px;

  &-description {
    color: rgba(255, 255, 255, .54);
  }
}

.markdown-body {
  font-size: 15px;

  h1 {
    border-bottom: solid 1px #DDD;
    padding-bottom: 5px;
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  }

  pre {
    background-color: #f7f7f7;
    border-radius: 3px;
    font-size: 85%;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 0;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;
  }

  ul {
    margin-left: 2.7em;

    li {
      list-style-type: disc;
    }
  }

  img {
    max-width: 100%;
  }
}
